/*****************
 *** Custom CSS ***
 *****************/
body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

ons-input[type=text] {
    width: 90%;
}

ons-button[modifier=large] {
    width: initial;
    margin: 10px;
}

ons-splitter-side[side="left"] {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.highlight {
    background-color: lightyellow;
    color: rgba(255, 0, 0, 0.7);
}

.left-label {
    width: 30%;
    font-size: 16px;
    color: #666
}

/********************
 *** Animation CSS ***
 ********************/

#tabbarPage .list {
    background-color: grey;
    overflow-x: hidden;
}

.list__item {
    min-height: 0;
    height: 44px;
}

.list__item--material {
    height: 56px;
}

.hide-children * {
    overflow: hidden;
}

.animation-swipe-right {
    pointer-events: none;
    -webkit-animation: swipe-right .9s ease-in-out forwards;
    animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
    pointer-events: none;
    -webkit-animation: swipe-left .9s ease-in-out forwards;
    animation: swipe-left .9s ease-in-out forwards;
}

.animation-remove {
    pointer-events: none;
    -webkit-animation: remove .7s ease-in-out forwards;
    animation: remove .7s ease-in-out forwards;
}

@-webkit-keyframes swipe-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(-3%);
        transform: translateX(-3%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        opacity: 0.3;
    }
}

@keyframes swipe-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(-3%);
        transform: translateX(-3%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        opacity: 0.3;
    }
}

@-webkit-keyframes swipe-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(3%);
        transform: translateX(3%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        height: 0;
        opacity: 0.3;
    }
}

@keyframes swipe-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10% {
        -webkit-transform: translateX(3%);
        transform: translateX(3%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        height: 0;
        opacity: 0.3;
    }
}

@-webkit-keyframes remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
        height: 0;
    }
}

@keyframes remove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
        height: 0;
    }
}

.centralButton {

}

.center.navigation-bar__center.navigation-bar__title.navigation-bar--material__center {
    text-align: center;
}

#mapid {
    height: 35%;
}

ons-list-header.list__header.list__header--material {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: #59a5e0;
}

ons-list-item.list__item.list__item--material.list__item--longdivider {
    padding: 0px;
}

.list__item--longdivider__center {
    border: none;
    padding: 0px;
    background-image: none;
}

.listItem {
    font-weight: bold;
    width: 100%;
    height: 99%;
    line-height: 55px;
    border-bottom: 2px solid #9c9c9a;
    background-color: rgb(214, 237, 255);
}

.leftReward {
    float: left;
    text-align: left;
    width: 80%;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
}

.rightReward {
    float: left;
    text-align: center;
    width: 20%;
    font-size: 24px;
    font-style: italic;
    height: 100%;
}

.topDeal {
    height: 75%;
    font-size: 18px;
    padding-right: 10px;
    color: #3c3c3c;
}

.bottomDeal {
    height: 25%;
    font-size: 11px;
    line-height: 10px;
    color: #54c73c;
}

#win {
    position: absolute;
    width: 100%;
    top: 40px;
    height: 70%;
}

#rewardSecret,#rewardSecret {
    font-size: 28px;
    font-weight: bold;
    color: #a4fdff;
}

.modal__content {
    background-color: #393d48;
}

#picShop {
    width: 100%;
    height: 35%;
    border-bottom: 2px solid #59a5e0;
    background-image: url(img/prada.jpg);
    background-size: cover;
    background-position-y: -30px;
}

#nameShop {
    position: relative;
    width: 100%;
    height: 45px;
    color: black;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #59a5e0;
    font-weight: bold;
    line-height: 40px;
    background-image: url(img/pradalogo.jpg);
    background-size: cover;
    background-position: 55% 45%;
}
#opening {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    background-color: #59a5e0;
    color: white;
    line-height: 20px;
}

#infoShop {
    background-color:#f6f6f6;
    font-style: italic;
    width:100%;
    height:auto;
    font-size: 14px;
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid #59a5e0;
}

.discountPrada{
    width:100%;
    background-color: #f6f6f6;;
    text-align: center;
}
.nameDiscount{
    width:100%;
    height:25px;
    color: black;
    font-weight: bold;
    line-height: 25px;
}
.descDiscount{
    background-color: #f6f6f6;;
    font-style: italic;
    width:100%;
    height:auto;
    font-size: 14px;
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid #59a5e0;
}
#outfit{
    display: none;
}