
.spider {  margin-left:10%; display: inline-block;  }


.indicator {
    text-align: left;
    width: 80%;
    font-weight: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.brand {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    vertical-align: middle;
    height: 100%;
}

.brandItem {
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 237, 255);
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
